#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#welcome-message-container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.link,
.link:hover {
  text-decoration: none;
}

.icon {
  height: 20px;
  width: 20px;
}

#profile-picture {
  height: 150px;
  width: 150px;
}

.gallery-image {
  height: 200px;
  width: auto;
}
